Project 1/Sample/x64/Debug/Sample.exe.recipe
Project 1/Sample/x64/Debug/Sample.ilk
Project 1/Sample/x64/Debug/Sample.tlog/CL.command.1.tlog
Project 1/Sample/x64/Debug/Sample.tlog/CL.read.1.tlog
Project 1/Sample/x64/Debug/Sample.tlog/CL.write.1.tlog
Project 1/Sample/x64/Debug/Sample.tlog/Cl.items.tlog
Project 1/Sample/x64/Debug/Sample.tlog/Sample.lastbuildstate
Project 1/Sample/x64/Debug/Sample.tlog/link.command.1.tlog
Project 1/Sample/x64/Debug/Sample.tlog/link.read.1.tlog
Project 1/Sample/x64/Debug/Sample.tlog/link.secondary.1.tlog
Project 1/Sample/x64/Debug/Sample.tlog/link.write.1.tlog
Project 1/Sample/x64/Debug/sample.obj
Project 1/Sample/x64/Debug/vc143.idb
Project 1/Sample/x64/Debug/vc143.pdb
Project 1/Sample.sln
Project 1/Sample.vcxproj
Project 1/Sample.vcxproj.filters
Project 1/Sample.vcxproj.user
Project 1/SampleVertexDataOld.cpp
Project 1/VulkanDebug.txt
Project 1/frag.spv
Project 1/glfw3.h
Project 1/glfw3.lib
Project 1/glfw3dll.lib
Project 1/glm/CMakeLists.txt
Project 1/glm/common.hpp
Project 1/glm/detail/_features.hpp
Project 1/glm/detail/_fixes.hpp
Project 1/glm/detail/_noise.hpp
